* {
    font-family: 'helvetica', sans-serif;
}
h1 {
    padding-top: 15px;
    font-size: 30px;
    background-color: #fdfcfc;
    height: 60px;
}
#main h2{
    text-align: center;
    font-size: 25px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid gray;
}
#first {
    margin-top: 20px;
}
.mainContent {
    width: 1465px;
    margin: auto;
    background-color: #fdfcfc;
    margin-top: 50px;
}